<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="gary@webguild.com"> 
        <!-- <network host="smtp.comcast.net" port="587" userName="gary.a.davis" password="jeremy" /> -->
        <!-- <network host="smtp.webguild.com" port="587"/> -->
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="gardavis0@gmail.com" password="dlwhefqhaogxqhjw" /><!-- GOhello.600" -->
      </smtp>
    </mailSettings>
  </system.net>

    <system.web>
        <customErrors mode="Off" />
        <httpRuntime enableVersionHeader="false" /> 
	<compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
	    <assemblies>
		<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
		<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
	    </assemblies>
	</compilation>
	<authentication mode="Windows" />
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>        
        <rewrite>
            <rules>
                <rule name="Everything to QBitTorrent port" stopProcessing="true">
                    <match url=".*" ignoreCase="true" negate="false" />
                    <action type="Rewrite" url="http://localhost:58089" appendQueryString="true" />
                    <conditions>
                        <add input="{HTTP_HOST}" matchType="Pattern" pattern="qbittorrent.webguild.com" ignoreCase="true" negate="false" />
                    </conditions>
                </rule>
<!--
                <rule name="Add trailing slash" stopProcessing="true">
                    <match url="rpc/ping\.action$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:0}/" />
                </rule>                
-->
              </rules>
        </rewrite>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-500" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
